@page "/Admin"
<h3>COVID-19</h3>

<h4>Administration:</h4>

<ul>
    <li>
        Limited to only admin people
    </li>
    <li>
        Disable or delete users and/or their bookings.
    </li>
    <li>
        Delete all bookings for a day, week, month, all.
    </li>
    <li>
        Change settings
    </li>
    <li>
        Backup and restore the database
    </li>
    <li>
        Enable/ diable the app for all others
    </li>
    <li>
        Set user roles to admin,coach,user.  Indicate if user has a pass.
    </li>

</ul>

@code {

}
