@page "/COVID-19"
<h3>COVID-19</h3>

<h4>Physical distancing in public means people:</h4>

<ul>
    <li>keep 1.5 metres away from others wherever possible
    </li>
    <li>
        avoid physical greetings such as handshaking, hugs and kisses
    </li>
    <li>
        use tap and go instead of cash where possible
    </li>
    <li>
        practise extra care if you are using public transport – read the guidelines (PDF, 165 KB).
    </li>
    <li>
        avoid crowds – if you see a crowded space do not enter
    </li>
    <li>
        avoid large public gatherings
    </li>
    <li>
        practise good hygiene
    </li>
    <li>stay at home if you have any cold or flu symptoms. Seek medical advice and get tested for COVID-19
        </li>
</ul>

@code {

}
