@page "/Forgotpassword"
<h3>Hey you forgot your password!</h3>

<h4>Sorry but this faciliaty hasn't been enabled yet.</h4>
<br/>
<NavLink href="login">
    <h3 class="font-weight-normal text-center">Login</h3>
</NavLink>
<br/>
<NavLink href="register">
    <h3 class="font-weight-normal text-center">Create account</h3>
</NavLink>



@code {

}
