@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AE Gym Bookings</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="COVID-19">
                <span class="oi oi-ban" aria-hidden="true"></span> COVID-19 Restrictions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-calendar" aria-hidden="true"></span> Booking Calendar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Book">
                <span class="oi oi-bolt" aria-hidden="true"></span> My Bookings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Book">
                <span class="oi oi-book" aria-hidden="true"></span> Make a Booking
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="COVID-19">
                <span class="oi oi-elevator" aria-hidden="true"></span> In In/Out of Gym
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}
